<table>
  <tr>
    <td><a href = "https://nathanshih04.github.io/NathanShih-Tri-3/">Home</a></td>
    <td><a href = "https://nathanshih04.github.io/NathanShih-Tri-3/DataStructure">Data Structure Replit</a></td>
    <td><a href = "https://nathanshih04.github.io/NathanShih-Tri-3/Notes/5.1+5.2Notes">5.1 and 5.2 Notes</a></td>
    <td><a href = "https://nathanshih04.github.io/NathanShih-Tri-3/Notes/5.3+5.4Notes">5.3 and 5.4 Notes</a></td>
    <td><a href = "https://nathanshih04.github.io/NathanShih-Tri-3/CreateTask">Create Task</a></td>
  </tr>
</table>